<div style="align-items: center; justify-content: center; display: flex">
<mat-form-field>
  <mat-label>Select category</mat-label>
  <mat-select [(value)]="selectedData"
  (valueChange)="dataChanged()">
    <mat-option value="osteologia">Osteologia</mat-option>
    <mat-option value="czaszka">Czaszka</mat-option>
    <mat-option value="embrio">Embriologia</mat-option>
    <mat-option value="gis">Głowa i szyja</mat-option>
    <mat-option value="kd">Kończyna dolna</mat-option>
    <mat-option value="kg">Kończyna górna</mat-option>
    <mat-option value="klatka">Klatka piersiowa</mat-option>
    <mat-option value="miednica">Miednica</mat-option>
    <mat-option value="brzuch">Brzuch</mat-option>
    <mat-option value="oun">Ośrodkowy układ nerwowy</mat-option>
  </mat-select>
</mat-form-field>
</div>

<div style="align-items: center; justify-content: center; display: flex">
<mat-card style="width: 60%">
  <mat-card-title>{{currentQuestion.question}}</mat-card-title>
  <mat-card-subtitle style="padding-left: 2%">ID: {{currentQuestion.id}}</mat-card-subtitle>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  (change)="onChange()"
  [(ngModel)]="chosenAnswer">
  <mat-radio-button class="example-radio-button" *ngFor="let ans of currentQuestion.answers" [value]="ans">
    <span>{{ans.answer}}</span>
  </mat-radio-button>
</mat-radio-group>
</mat-card>
</div>

<div style="align-items: center; justify-content: center; display: flex; padding-top: 3%; text-align: center">
  <mat-card style="width: 40%">
  {{isCorrect}}
    <mat-card-content>Questions left: {{questions.length}}</mat-card-content>
  </mat-card>
</div>

<div style="text-align: center; padding-top: 5%">
  <button mat-raised-button (click)="nextQuestion(1)" color="accent" style="margin-right: 5%" > Random </button>
  <button mat-raised-button (click)="nextQuestion(0)" color="primary" > Next </button>
</div>

