.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-left: 5%;
  word-wrap: break-word;
}

.example-radio-button {
  /*display: flex;*/
  flex-direction: column;
  margin: 5px;
  word-wrap: break-word;
}

